<%- include('templates/head', {tituloWeb: 'Crear un cliente'}) -%>
<%- include('templates/navbar'); -%>
<br>
<br>
<br>
<style>
    .wrapper{
        width: 600px;
        margin: 0 auto;
    }
</style>
<body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-5">Crear registro</h2>
                    <p>Procure ingresar datos correctos. No se validan los datos</p>
                    
                    <form action="/crear" method="POST">
                        <div class="form-group">
                            <label>Nombre</label>
                            <br>
                            <input type="text" name="nombre">
                        </div>

                        <div class="form-group">
                            <label>Rif</label>
                            <br>
                            <input type="number" name="rif">
                        </div>

                        <div class="form-group">
                            <label>Direccion</label>
                            <br>
                            <input type="text" name="direccion">
                        </div>

                        <div class="form-group">
                            <label>Telefono</label>
                            <br>
                            <input type="number" name="telefono">
                        </div>
                        <div> 
                          <label>Vendedor</label> 
                          <br>
                         <select name="vendedor">
                            <option>ackerman</option>
                         </select>
                        </div> 
                        <br>
                        <input type="submit" class="btn btn-primary" value="Aceptar">
                        <a href="/clientes" class="btn btn-secondary ml-2">Cancelar</a>
                    </form>

                </div>
            </div>        
        </div>
    </div>
</body>