<body>
    <section class="form-main">
        <div class="form-conte">
            <div class="box">
                <h1>Crear un Cliente</h1>
                <form action="/" method="post">
                    <p>Nombre
                        <input type="text" placeholder="Ingrese su nombre" name="nombre" required>
                        
                    </p>
                    <p>Rif
                        <input type="number" placeholder="Ingrese su Rif" name="rif" required>
                        
                    </p>
                    <p>Direccion
                        <input type="text" placeholder="Ingrese su Direccion" name="direccion" required>
                        
                    </p>
                    <p>Telefono
                        <input type="number" placeholder="Ingrese su Telefono" name="telefono" required>
                        
                    </p>
                    <p>Vendedor
                        <input type="text" placeholder="Ingrese su Vendedor" name="vendedor" required>
                        
                    </p>
                    <button type="submit" class="btn">Crear Cliente</button>
                </form>
            </div>
        </div>
    </section>
</body>