 <%- include('templates/head', {tituloWeb: 'Inicio'}); -%>
<body>
  <%- include('templates/navbar'); -%>
    <br>
    <br>
    <br>
    <br>
       
    <div class="container">
       <div class="header">
          <h1>Bienvenido</h1>
           <img class="emp" src="/img/LOGO EL GRAN POLLO.png" alt="">
        </div>
    </div>  
<style>
.container{
    font-family: 'Share Tech', sans-serif;
    position: relative;
  }
.header{
    bottom: 30%;
    padding: 0 50px;
   }
.header h1{
     font-size: 60px;
     padding-top: 250px;
   }
.container .emp{
  position: absolute;
  height: 500px;
  width: 450px;
  right: 7%;
  bottom: 0;
  justify-content: end;
  top:4%;
}
@media (max-width: 767px) {
  .header {
    text-align: center;
    padding: 0;
  }
  .header h1 {
    padding-top: 50px; /* Ajusta el valor según sea necesario */
  }
  .container .emp {
    position: static;
    display: block;
    margin: 0 auto;
  }
}

</style>