*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e2326;
    background-image:url(/img/contact_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
}
.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-conte{
    width: 1005;
    max-width: 450px;
    position: relative;
    z-index: 1;
}
.form-conte .box{
    border-color: rgb(248, 239, 240);
    border: 1px solid rgba(255, 255, 255, 0.288);
    padding: 40px 50px;
    border-radius: 20px;
}
.form-conte h1{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: white;
    font-weight: 500;
}
.form-conte form{
    margin: 25px 0 20px;
}
.form-conte p{
    margin: 25px; 
    position: relative;
    color: #d9d9d9;
    font-size: 20px;
}
.form-conte input{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.288);
    color:inherit;
    font-weight: 300;
    font-family:inherit;
    font-size: 16px;
}
.form-conte input:focus{
    outline: none;
}
.form-conte .btn{
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.form-conte .btn::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: -1;
}
.form-conte .btn:hover::before{
    background-color: rgb(112, 115, 117);
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
    left: 20px;
    font-weight: 300;
   
}
.i i{
	transition: .3s;
}