<div class="contenedor-header">
    <header>
        <div class="logo">
         <a href="/home"><img src="/img/LOGO EL GRAN POLLO.png" alt="2x2" width="60" heigth="60"></a>
        </div>
        <nav id="nav" class="">
            <ul>
                <li><a href="/clientes" onclick="seleccionar()">CLIENTES</a></li>
                <li><a href="/productos" onclick="seleccionar()">PRODUCTOS</a></li>
                <li><a href="/proveedor" onclick="seleccionar()">PROVEEDOR</a></li>
                <li><a href="/entradas_aux" onclick="seleccionar()">ENTRADAS AUX</a></li>
                <li><a href="/salidas_aux" onclick="seleccionar()">SALIDAS AUX</a></li>
                <li><a href="/pedidos" onclick="seleccionar()">PEDIDOS</a></li>
                <li><a href="/comprar" onclick="seleccionar()">COMPRAR</a></li>
                <li><a href="/users/logout" onclick="seleccionar()">SALIR</a></li>
            </ul>
        </nav>
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
           <i class="fa fa-bars"></i>
        </div>
    </header>
</div>